body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    background-color: grey;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: chartreuse;
    box-shadow: 2px 2px 5px black;



}

@media (min-width:320px) {
    header {
        display: flex;
        justify-content: space-between;
        background-color: chartreuse;
        box-shadow: 3px -3px 5px 5px black;
    }
}


header img {
    width: 100px;
    margin: 20px;
}

.navegacion {
    display: flex;
    justify-content: space-around;
}

.navegacion a {
    text-align: center;
    align-content: center;
    color: rgb(20, 20, 20);
    text-decoration: none;
    font-weight: 700;
    margin-right: 15px;
    height: fit-content;
    margin-top: 40px;
    padding: 6px;
}

.navegacion a:hover {
    color: blue;
    box-shadow: 2px 2px 5px black;
}
.contenedor-tarjetas {
    display: flex;
    justify-content: space-between;
    /* Coloca las tarjetas una al lado de la otra */
    margin-top: 20px;
    /* Espacio entre las tarjetas */
    flex-wrap: wrap;
}
.conteiner1{
    display: flex;
    box-shadow: 3px -3px 5px 5px black;
}
.tarjeta {
    flex: 0 1 calc(50% - 10px);
    /* Establece el ancho de cada tarjeta, con un margen de 10px entre ellas */
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px black;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    /* Espacio entre las tarjetas */
    text-align: justify;
}

.tarjeta img {
    width: 300px;
}


.tarjeta a {
    text-align: center;
}

.imagen-container {
    background-image: url("../assets/file.png");
    display: flex;
    height: 490px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.precio {
    display: flex;
    justify-content: right;
    position: relative;
    top: -300px;
    left: -50px;
    color: black;
    text-decoration: underline;
    text-shadow: 0px -1px 2px black;
    margin: auto;
}

@media (min-width: 320px) and (max-width: 1050px) {
    .precio {
        display: flex;
        justify-content: center;
        color: black;
        position: relative;
        top: -300px;
        left: -50px;
        text-decoration: underline;
        text-shadow: 0px -1px 2px black;
    }
}


.precio2 {
    color: black;
    position: relative;
    top: -300px;
    left: 80%;
    text-decoration: underline;
    text-shadow: 0px -1px 2px rgb(143, 139, 139);

}

@media (min-width: 320px) and (max-width: 1050px) {
    .precio2 {
        color: black;
        position: relative;
        top: -300px;
        left: 110px;
        text-decoration: underline;
        text-shadow: 0px -1px 2px black;
    }
}
.precio3 {
    display: flex;
    justify-content: right;
    color: black;
    position: relative;
    top: -300px;
    text-decoration: underline;
    text-shadow: 0px -1px 2px rgb(143, 139, 139);

}

@media (min-width: 320px) and (max-width: 1050px) {
    .precio3 {
        
        justify-content: right;
        display: flex;
        color: black;
        position: relative;
        top: -350px;
        text-decoration: underline;
        text-shadow: 0px -1px 2px black;
    }
}
.h1 {
    position: relative;
    top: -50px;
}

.h2 {
    position: relative;
    top: -30px;

}
.h33{
    position: relative;
    top: -30px;
}
.imagen-texto {
    justify-content: 100%;

}

.info1 {
    position: relative;
    top: -20px;
    text-align: start;
    font-family: math;

}

.info2 {
    position: relative;
    top: -50px;
    text-align: start;
    font-family: math;

}

.btn2 {
    background-color: rgb(19, 18, 18);
    border-radius: 12px;
    padding: 4px;
    margin-top: 10px;
    text-decoration: none;
    color: aliceblue;
    margin: auto;

}

.btn1 {
    background-color: rgb(19, 18, 18);
    border-radius: 12px;
    padding: 4px;
    margin-top: 10px;
    text-decoration: none;
    color: aliceblue;
    margin: auto;

}

.contenedor2 {
    background-color: aliceblue;
}

footer {
    background-image: url("../assets/humo-blanco-sobre-fondo-negro_23-2147611843.jpg");
    display: flex;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}



.final-titulo {
    color: whitesmoke;


}

.final-p {
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    right: 150px;
    top: 55px;
    color: whitesmoke;
}

@media (min-width: 320px) and (max-width: 767px) {
    .final-p {
        right: 150px;
    }
}

.h12 {
    top: -70px;
    position: relative;
    left: 300px;
    margin: auto;

}

@media (min-width: 320px) and (max-width: 767px) {
    .h12 {
        left: 250px;
    }

}

.img {
    display: flex;
    height: 40px;
    left: -80px;
    position: relative;
    top: 50px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .img {
        top: 50px;
        left: -120px;
    }

}

.img2 {
    display: flex;
    height: 40px;
    left: -80px;
    position: relative;
    top: 50px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .img2 {
        top: 50px;
        left: -120px;
    }

}