body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    background-color: rgb(211, 168, 168);
}
header{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px black;
}

header img{
    width: 100px;
    margin: 20px;
}
.navegacion {
    display: flex;
    justify-content: space-around;
}
.navegacion a {
    text-align: center;
    align-content: center;
    color: rgb(20, 20, 20);
    text-decoration: none;
    font-weight: 700;
    margin-right: 15px;
    height: fit-content;
    margin-top: 40px;
    padding: 6px;
}
.navegacion a:hover {
    color: blue;
    box-shadow: 2px 2px 5px black;
}
.formulario_vender{
 background-color:aliceblue;


}
.tarjeta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px black;
    border-radius: 8px;
    padding: 5px;
}

.tarjeta img {
    width: 200px;
}

.tarjeta p {
    text-align: center;
}

.tarjeta a {
    text-align: center;
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: rgb(19, 18, 18);
    border-radius: 12px;
    padding: 4px;
    margin-top: 10px;
    text-decoration: none;
    color: aliceblue;
    width: 250px;
}
.contenedor2{
 background-color: aliceblue;

}