<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquiler</title>
    <link rel="stylesheet" href="../css/alquiler.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="icon" href="../assets/Captura.ico">
</head>

<body>

    <header>
        <a href="../index.html">
            <img src="../assets/Captura.PNG" alt="">
        </a>
        <div class="navegacion">
            <a href="../templates/venta.html">Vender</a>
            <a href="../templates/contacto.html">Contactanos</a>
        </div>
    </header>
    <main>
        <div>
            <div class="contenedor2">
                
                <div class="contenedor-tarjetas">
                    <div class="tarjeta">
                        <div class="contenedor-imagen">
                            <img src="../assets/download_image_1717276249391.png" alt="">
                            <p class="precio2">u$d 1200</p>
                        </div>
                        <h1 class="h1"> Casa Palmares</h1>
                        <p class="info2">Cuenta con una living comedor amplio con pisos plastificados, 2 dormitorios con
                            uno en suite, otro baño completo y cocina con lavandería integrada. El balcón cerrado es
                            frontal y amplio. Cuenta con una cochera con ingreso por portón automatico.
                        </p>
                        <a class="btn1" href="../templates/producto1.html">Ver mas</a>
                    </div>
                    <div class="tarjeta">
                        <div class="contenedor-imagen">
                            <img src="../assets/download_image_1717276319265.png" alt="">
                            <p class="precio">u$d 300.000 </p>

                        </div>
                        <h1 class="h2"> Casa Dalvian </h1>
                        <p class="info1">MUY LINDA CASA EN DALVIAN CARACTERÍSTICAS: living comedor amplio con pisos de
                            parquet, chimenea y carpintería de aluminio, techos altos de madera, patio con quinco de
                            madera y una picina de 15m , 2 habitaciones grandes y 2 pequeña con escritorio,muy
                            luminos,Cocina con pisos porcelanato. </p>
                        <a class="btn2" href="../templates/producto3.html">Ver mas</a>
                    </div>
                </div>
                <div class="tarjeta">
                    <div class="contenedor-imagen">
                        <img src="../assets/FACHADAS-DE-CASAS-PEQUENAS5-1.jpg" alt="">
                        <p class="precio3">u$d 1500 </p>

                    </div>
                    <h1 class="h33"> Casa en Rosario </h1>
                    <p class="info1">Departamento Interno de 3 dormitorios, con ingreso al amplio living comedor  con cocina independiente quipada con alacena, bajomesada, cocina y preinstalacion de Lavarropas, en el paso al intimo separado por una puerta corrediza nos encontramos un pasillo distribuidor que nos lleva al Bañó con bañera, primer dormitorio con placard y salida al balcon, segundo dormitorio sin placard y por ultimo al tercer y principal dormitorio, con medidas de 5 x 3,20 metros, con placard, radiador y pequeño balcon imdividual, la unidad cuenta  con pisos de parquet, Unidad muy luminosa y silenciosa cercana a la costanera y Parque España. </p>
                    <a class="btn2" href="../templates/producto2.html">Ver mas</a>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <div class="final-titulo">
         <h1>Contacto</h1>
         <h1 class="h12"> seguinos </h1>

        </div>
        
        <div class="final-p">
            <p>tel: 2616412794</p>
            <p>gmail:juanmaruizrighi@gmail.com</p>
        </div>
        <a class="img" href="">
            <img  src="../utilities/whatsapp-svgrepo-com.svg" alt=" whatsapp-svgrepo-com">
        </a>

          <a class="img2" href="https://www.instagram.com/juanba135/">
            <img  src="../utilities/instagram-1-svgrepo-com.svg" alt="instagram-1">
        </a>

    </footer>
</body>

</html>