<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto2</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="icon" href="assets/Captura.ico">
</head>
<body>
    
    <header>
        <a href="../index.html">
            <img src="../assets/captura.png" alt="">
        </a>
        <div class="navegacion">
            <a href="../templates/venta.html">vender</a>
            <a href="../templates/contacto.html">Contactanos</a>
        </div>
    </header>
    <main>
    <div>
        <h1> Mas Populares </h1>
        <div class="contenedor-tarjetas">
            <div class="tarjeta">
                <div class="contenedor-imagen">
                    <img src="assets/logo_cuntur" alt="">
                </div>
                <p>Producto1 Buena calidad</p>
                <a class="btn" href="templates/producto1.html">Ver mas</a>
            </div>
            <div class="tarjeta">
                <div class="contenedor-imagen">
                    <img src="assets/logo_cuntur.png" alt="">
                </div>
                <p>Producto1 Buena calidad</p>
                <a class="btn" href="templates/producto2.html">Ver mas</a>
            </div>
            <div class="tarjeta">
                <div class="contenedor-imagen">
                    <img src="assets/logo_cuntur.png" alt="">
                </div>
                <p>Producto1 Buena calidad</p>
                <a class="btn" href="">Ver mas</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>