<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de contacto</title>
    <link rel="icon" href="../assets/Captura.ico">
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    <header>
        <a href="../index.html">
            <img src="../assets/Captura.PNG" alt="Logo">
        </a>
        <div class="navegacion">
            <a href="../templates/alquiler.html">Alquiler</a>
            <a href="../templates/venta.html">Venta</a>
        </div>
    </header>
    
    <main>
        <div class="container">
            <form class="formulario" id="formulario" action="" method="post">
                <fieldset>
                    <!-- Form Name -->
                    <legend>Formulario de Consulta</legend>

                    <!-- Nombre input -->
                    <div class="form-group" id="grupo__usuario">
                        <label for="usuario">Nombre</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="usuario" placeholder="Nombre" class="form-control" type="text" id="usuario">
                        </div>
                        <p class="formulario__input-error">Por favor, ingrese su nombre.</p>
                    </div>

                    <!-- Apellido input -->
                    <div class="form-group" id="grupo__apellido">
                        <label for="last_name">Apellido</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="last_name" placeholder="Apellido" class="form-control" type="text" id="last_name">
                        </div>
                        <p class="formulario__input-error">Por favor, ingrese su apellido.</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-group" id="grupo__correo">
                        <label for="email">E-Mail</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="email" placeholder="Correo electrónico" class="form-control" type="email" id="email">
                        </div>
                        <p class="formulario__input-error">Por favor, ingrese un correo válido.</p>
                    </div>

                    <!-- Teléfono input -->
                    <div class="form-group" id="grupo__telefono">
                        <label for="phone">Número de teléfono</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="phone" placeholder="(54)261-555-1212" class="form-control" type="text" id="phone">
                        </div>
                        <p class="formulario__input-error">Por favor, ingrese un número válido.</p>
                    </div>

                    <!-- Select dropdown -->
                    <div class="form-group">
                        <label for="state">Ubicación</label>
                        <div class="input-group">
                            <select name="state" id="state" class="form-control selectpicker">
                                <option value="">Seleccione su país</option>
                                <!-- Opciones de países -->
                                <option>Argentina</option>
                                <option>Bolivia</option>
                                <option>Brasil</option>
                                <option>Chile</option>
                                <!-- Más opciones -->
                            </select>
                        </div>
                    </div>

                    <!-- Mensaje textarea -->
                    <div class="form-group">
                        <label for="comment">¿Por qué nos contactas?</label>
                        <textarea class="form-control" name="comment" id="comment" placeholder="Descripción del proyecto"></textarea>
                    </div>

                    <!-- Radio buttons -->
                    <div class="form-group">
                        <label>¿Fue fácil usar la página?</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="easy_use" value="yes"> Sí
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="easy_use" value="no"> No
                            </label>
                        </div>
                    </div>

                    <!-- Enviar button -->
                    <div class="form-group">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-warning">Enviar <span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </main>

    <footer>
        <div class="final-titulo">
            <h1>Contacto</h1>
            <h2>Síguenos</h2>
        </div>
        
        <div class="final-p">
            <p>Tel: 2616412794</p>
            <p>Email: juanmaruizrighi@gmail.com</p>
        </div>
        <a href="https://wa.me/2616412794">
            <img src="../utilities/whatsapp-svgrepo-com.svg" alt="WhatsApp">
        </a>
        <a href="https://www.instagram.com/juanba135/">
            <img src="../utilities/instagram-1-svgrepo-com.svg" alt="Instagram">
        </a>
    </footer>

    <script src="../js/formulario.js"></script>
</body>

</html>
