<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Palmares</title>
    <link rel="icon" href="../assets/Captura.ico">
    <link rel="stylesheet" href="../css/producto1.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
</head>
<body>
    <header>
        <a href="../index.html">
            <img src="../assets/captura.png" alt="">
        </a>
        <div class="navegacion">
            <a href="../templates/venta.html">Vender</a>
            <a href="../templates/contacto.html">Contactanos</a>
        </div>
    </header>
    <main>
            
        <div class="container content">
              <div class="row">
                <div class="col-xs-12 col-md-8">
                  <img src="../assets/download_image_1717276249391.png" class="img-responsive">
            <h2><strong>Description</strong></h2>
            <p class="text-justify">
                Cuenta con una living comedor amplio con pisos plastificados, 2 dormitorios con uno en suite,
                 otro baño completo y cocina con lavandería integrada. El balcón cerrado es frontal y amplio. 
                 Cuenta con una cochera con ingreso por portón automatico.
              </p>
           <h2><strong>CARACTERÍSTICAS</strong></h2>
               <ul class="list-service">
                <li title="departamento">
                    <i >
                        <img class="icono-departamento" src="../utilities/department-svgrepo-com.svg" alt="">
                    </i> Departamento   </li>
                <li>
                    <i >
                        <img class="mobiliario" src="../utilities/bathroom-relax-svgrepo-com.svg " alt="">
                    </i> 2 Baños  </li>
                <li>
                    <i  >
                    <img class="abitaciones" src="../utilities/bed-double-svgrepo-com.svg" alt="">
                    </i> 2 Dorm</li>
                <li>
                    <i >
                        <img class="garaje" src="../utilities/garage-open-svgrepo-com.svg" alt="">
                    </i> 1 Cochera </li>
                <li>
                    
                    <i >     
                        <img class="metros_cubicos" src="../utilities/004_square_meter.svg" alt="">
                    </i> 100 m² </li>
                <li>
                    <i >
                        <img class="ambiente" src="../utilities/048_ambience.svg" alt="">
                    </i> 3 Ambiente</li>
               </ul>
                </div>
                
        <div class="col-xs-12 col-md-4">
          <div class="mypanel">
          <div class="mypanel-title">Contactá al anunciante</div>
          <form>
            <div class="form-group">
              <label for="name-input">Nombre</label>
              <input type="name" class="form-control" id="name-input" placeholder="nombre">
            </div>
            <div class="form-group">
              <label for="email-input">Email address</label>
              <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="text-input">mensaje</label>
              <textarea class="form-control" rows="3" id="text-input" placeholder="mensaje "></textarea>
            </div>
            <button type="submit" class="btn btn-primary">contactar</button>
          </form> 
          </div>
          <p class="titlebar__price">
            USD 1.200
        </p>
          <p class="titlebar__expenses hide-in-mobile">
            + $20.000 expensas
        </p>
          
          </div>    
          </div>
        </div>      
      
        </div>
    </main>
    <footer>
        <div class="final-titulo">
         <h1>Contacto</h1>
         <h1 class="h12"> seguinos </h1>

        </div>
        
        <div class="final-p">
            <p>tel: 2615412794</p>
            <p>gmail:juanmaruizrighi@gmail.com</p>
        </div>
          <img class="img" src="../utilities/whatsapp-svgrepo-com.svg" alt=" whatsapp-svgrepo-com">
          <img class="img2" src="../utilities/instagram-1-svgrepo-com.svg" alt="instagram-1">
    </footer>
</body>
</html>