<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Palmares</title>
    <link rel="icon" href="../assets/Captura.ico">
    <link rel="stylesheet" href="../css/producto1.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <header>
        <a href="../index.html">
            <img src="../assets/captura.png" alt="">
        </a>
        <div class="navegacion">
            <a href="../templates/venta.html">Vender</a>
            <a href="../templates/contacto.html">Contactanos</a>
        </div>
    </header>
    <main></main>
    <footer>
        <div class="final-titulo">
         <h1>Contacto</h1>
         <h1 class="h12"> seguinos </h1>

        </div>
        
        <div class="final-p">
            <p>tel: 2615412794</p>
            <p>gmail:juanmaruizrighi@gmail.com</p>
        </div>
          <img class="img" src="../utilities/whatsapp-svgrepo-com.svg" alt=" whatsapp-svgrepo-com">
          <img class="img2" src="../utilities/instagram-1-svgrepo-com.svg" alt="instagram-1">
    </footer>
</body>
</html>