<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Venta</title>
    <link rel="icon" href="../assets/Captura.ico">
    <link rel="stylesheet" href="../css/venta.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>

    <header>
        <a href="../index.html">
            <img src="../assets/Captura.PNG" alt="">
        </a>
        <div class="navegacion">
            <a href="../templates/alquiler.html"> alquiler </a>
            <a href="../templates/contacto.html">Contactanos</a>
        </div>
    </header>
    <main>

        <form action="" class="formulario" id="formulario">

            <!-- Grupo: Nombre -->
            <div class="formulario__grupo" id="grupo__nombre">
                <label for="nombre" class="formulario__label">Nombre y Apellido </label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="juan rodriguez">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error"> solo contener tener su nombre y apellido
            </div>



            <!-- Grupo: Correo Electronico -->
            <div class="formulario__grupo" id="grupo__correo">
                <label for="correo" class="formulario__label">Correo Electrónico</label>
                <div class="formulario__grupo-input">
                    <input type="email" class="formulario__input" name="correo" id="correo"
                        placeholder="correo@correo.com">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y
                    guion bajo.</p>
            </div>

            <!-- Grupo: Teléfono -->
            <div class="formulario__grupo" id="grupo__telefono">
                <label for="telefono" class="formulario__label">Teléfono</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="2615412794">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.
                </p>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">¿que desea vender?</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="state" class="form-control selectpicker">
                            <option value="">tipo de propiedad</option>
                            <option>departamento</option>
                            <option>local </option>
                            <option>casa</option>
                            <option>ph</option>
                            <option>terrenos y lotes</option>

                        </select>
                    </div>
                </div>
            </div>
            <!-- Textarea for message -->
            <div class="form-group">
                <label class="col-md-4 control-label">¿descripcion del inmueble?</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea class="form-control" name="comment" placeholder="Descripción del proyecto"></textarea>
                    </div>
                </div>
            </div>


            <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle" id="formulario__mensaje-incorrecto"></i> <b>Error:</b> Por
                    favor rellena el formulario correctamente. </p>
            </div>

            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Enviar</button>
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
            </div>
        </form>

    </main>


    <footer>
        <div class="final-titulo">
            <h1>Contacto</h1>
            <h1 class="h12"> seguinos </h1>

        </div>

        <div class="final-p">
            <p>tel: 2616412794</p>
            <p>gmail:juanmaruizrighi@gmail.com</p>
        </div>
        <a class="img" href="">
            <img src="../utilities/whatsapp-svgrepo-com.svg" alt=" whatsapp-svgrepo-com">
        </a>

        <a class="img2" href="https://www.instagram.com/juanba135/">
            <img src="../utilities/instagram-1-svgrepo-com.svg" alt="instagram-1">
        </a>

    </footer>
    <script src="../js/venta.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>